<h1>LOGIN</h1>
<form action="/login" method="POST">
  <label for="name">Username</label>
  <br />
  <input type="name" name="name" placeholder="Enter username" />
  <br />

  <label for="password">Password</label>
  <br />
  <input type="password" name="password" placeholder="Enter password" />
  <br />

  <button type="submit">Login</button>
</form>
<button type="button" href="/body">Back</button>
