html,
body {
  letter-spacing: 1px;
}

.tradi {
  background-image: url(./assets/main-bg.jpg);
  background-size: cover;
  padding-top: 15%;
  text-align: center;
  height: 800px;
  color: antiquewhite;
}
.btn {
  background-color: darkorange;
}
.thegamesbg {
  background-image: url(./assets/the-games-bg.jpg);
  background-size: cover;
  height: 800px;
  color: antiquewhite;
}
.game {
  padding-top: 11%;
  padding-left: 5%;
}
#carouselExampleIndicators {
  padding-top: 20%;
  padding-left: 12%;
  padding-right: 10%;
}
.carousel-control-prev-icon {
  background-image: url(./assets/switch-left.svg);
}
.carousel-control-next-icon {
  background-image: url(./assets/switch-right.svg);
}
/*.carousel {
  padding-left: 400px;
}*/
.features {
  background-image: url(./assets/features.jpg);
  background-size: cover;
  height: 800px;
  padding-top: 15%;
  text-decoration-color: aliceblue;
  padding-left: 60%;
}
.requirments {
  background-image: url(./assets/requirements.png);
  background-size: cover;
  height: 800px;
  padding-top: 5%;
  padding-left: 5%;
}

.comment {
  background-image: url(./assets/top-score-bg.png);
  background-size: cover;
  height: 800px;
  padding-left: 5%;
}
.top {
  padding-top: 25%;
}
.top1 {
  padding-top: 10%;
}
.card-title {
  color: darkorange;
}
.card-text {
  color: aliceblue;
}

.top {
  color: aliceblue;
}

.copy {
  color: aliceblue;
  text-align: center;
}
.h5 {
  color: darkorange;
}
.p1 {
  color: aliceblue;
}
.pp {
  text-align: center;
  color: aliceblue;
}

.req {
  color: aliceblue;
}
